<VirtualHost *:80>
    ServerAdmin webmaster@quiz-roles.uzie17-adinusa
    ServerName quiz-roles.uzie17-adinusa
    DocumentRoot /var/www/quiz-roles/{{ ansible_hostname }}/

    <Directory /var/www/quiz-roles/{{ ansible_hostname }}/>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Require all granted
    </Directory>
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
